@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');

@layer base {
    body {
        @apply font-dmSans
    }

    .max-width {
        @apply max-w-screen-2xl mx-auto
    }
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    /* Circular shape */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 24px;
    /* Adjust font size as needed */
}

.close-button:hover {
    background-color: #eee;
}

.close-button:after {
    content: 'x';
    color: black;
}